/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* /\* HTML5 display-role reset for older browsers *\/ */
/* article, aside, details, figcaption, figure,  */
/* footer, header, hgroup, menu, nav, section { */
/* 	display: block; */
/* } */
/* body { */
/*     line-height: 1; */
/*     /\* background-color: black *\/ */
/* } */
/* ol, ul { */
/* 	list-style: none; */
/* } */
/* blockquote, q { */
/* 	quotes: none; */
/* } */
/* blockquote:before, blockquote:after, */
/* q:before, q:after { */
/* 	content: ''; */
/* 	content: none; */
/* } */
/* table { */
/* 	border-collapse: collapse; */
/* 	border-spacing: 0; */
/* } */

/* * { */
/*     box-sizing: border-box; */
/* } */

/* html, body { */
/*     height: 100%; */
/*     font-family: 'Roboto', sans-serif; */
/* } */

/* h1, h2, h3, h4, h5 { */
/*     font-size: 18px; */
/*     margin-bottom: 15px; */
/*     font-family: 'Rubik', sans-serif; */
/* } */

/* p { */
/*     line-height: 1.4; */
/* } */

/* General styles */
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /* border: 1px solid grey; */
}

body {
    background: white;
    color: black;
}

#myHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content:flex-end; */
    justify-content:space-around;
    align-items: center;
    height: 10vh;
    /* border: yellow 3px solid; */
}

#myFooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 10vh;
    /* border: yellow 3px solid; */
}

#myHeader div {
    width: 20%;
    color: black;
}

#myHeader div h2 {
    font-size: 20pt;
}

.links {
    width:30%;
    /* width:800px; */
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    blackground-color: black;
    /* border: blue 3px solid; */
}

.links a {
    letter-spacing: 3px;
    padding: 10px 0;
    blackground-color: black;
    width: 100%;
    text-align:center;
    text-decoration: none;
    /* border: green 3px solid; */
    /* background-color: white; */
}

.index {
    display: flex;
    flex-direction: column;
}

.within-index {
    width: 100%;
    height: 60vh;
    background: url('/home/ecleary/Documents/Lambda_School/buildweek1/front-end/img/pattern.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    /* border: purple 10px solid; */
    border-top: black 10px solid;
    border-bottom: black 10px solid;
}

.login-container {
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: black 4px solid; */
    background: white;
    border: black 5px solid;
}

.login-container img {
    width: 95%;
    height: 20vh;
    object-fit: cover;
}

label {
    width: 100%;
    padding: 20px 0 0 20px;
}

input {
    width: 95%;
    padding: 10px 0;
    background: white;
}

button {
    width: 95%;
    padding: 10px 0 ;
}
